.gradle/4.6/fileContent/fileContent.lock
.gradle/4.6/javaCompile/classAnalysis.bin
.gradle/4.6/javaCompile/jarAnalysis.bin
.gradle/4.6/javaCompile/javaCompile.lock
.gradle/4.6/javaCompile/taskHistory.bin
.gradle/4.6/javaCompile/taskJars.bin
app/src/main/res/drawable/ic_send.xml
